<html>

    <head>
        <title>HelloWorld</title>
        <style>
            h1 {
                color: black;
                text-align: center;
                padding: 20px;
                font-family: monospace;
                font-size: xxx-large;
            }
        </style>

    </head>

    <body style="background-color: {{ color }};">
        <h1>Fake App Version: {{ fake_version }} @ {{ host_name }}</h1>
    </body>

</html>
